.header__menu-item span {
  text-decoration: none !important;
}
.header__active-menu-item {
  -webkit-text-stroke: 0.5px currentColor;
  text-stroke: 0.5px currentColor;
  text-decoration: none !important;
  pointer-events: none; /* чтобы нельзя было кликнуть на активную */
}
