.shopify-policy__container {
  max-width: 112rem;
  margin: 0 auto;
  padding: 5.6rem 1.6rem 8rem;
}

.shopify-policy__title {
  margin-bottom: 4rem;
}

.shopify-policy__title h1 {
  font-size: 4.8rem;
  line-height: 1.1;
  font-weight: 700;
}

.shopify-policy__body h2 {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
}

.shopify-policy__body p {
  margin-bottom: 1.6rem;
}

.shopify-policy__body ul,
.shopify-policy__body ol {
  padding-left: 2rem;
  margin: 2rem 0;
}

.shopify-policy__body table {
  width: 100%;
  border-collapse: collapse;
}